.mobile-view .post-voting-topic,
.mobile-view .post-voting-topic-sort-by-activity {

    .topic-body .cooked, .post-voting-topic-sort-by-activity .topic-body .cooked {
        margin-left: unset;
    }

    .topic-avatar .post-voting-post {
        display: none;
    }
        
    .post-voting-post {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        margin: unset;
        flex-wrap: nowrap;
        top: 0;
    /*     left: 47px; */
        width: max-content;
    }
        
    .post-menu-area .post-voting-button {
        padding: 0 5px;
    }

    .post-controls.collapsed {
        width: max-content;
        flex: auto;
    }
    .post-controls.expanded {
        flex: auto;
    }

    .post-menu-area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
}

