.mobile-view .post-voting-topic,
.mobile-view .post-voting-topic-sort-by-activity {
  .topic-body .cooked,
  .post-voting-topic-sort-by-activity .topic-body .cooked {
    margin-left: unset;
  }

  .topic-avatar .post-voting-post {
    display: none;
  }

  .post-voting-buttons-mobile-fix {
    display: inline-flex;
    align-items: center;
    flex: 1 1 auto;
    margin-left: 0 !important;
    .post-voting-button-voted .d-icon {
      color: var(--success);
    }
  }
}
